Python group project - ipynb n°1 - Data Analysis

# 1. Basics Operations

In this part, we are going to apply the basics operations to the dataset in order to clean it and display to key statistical information. 
Our dataset is about the rate statistics of each players of Overwatch sorted by platform and by their ranking.

In [81]:
# 0. Import the dataset from a CSV file and print the first 5 rows #

import pandas
dataset = pandas.read_csv("overbuff.csv", encoding = "latin1")
dataset.head()

,Hero,Role,Pick_rate,Win_rate,Tie_Rate,On_fire,Platform,Rank,Date
0,Reinhardt,TANK,10.08,49.85,2.75,7.33,XBL,All,2019-04-22 18:54:56
1,Moira,SUPPORT,7.40,51.00,2.55,9.59,XBL,All,2019-04-22 18:54:56
2,Mercy,SUPPORT,6.57,49.88,2.64,1.80,XBL,All,2019-04-22 18:54:56
3,Lúcio,SUPPORT,6.18,52.36,2.18,13.16,XBL,All,2019-04-22 18:54:56
4,D.Va,TANK,5.64,51.49,2.34,7.84,XBL,All,2019-04-22 18:54:56

In [82]:
# 1. Determine the dimension of the array and analyse the content of a specific value #

dimensions = dataset.shape
print('Dimension of the array : ',dimensions)

row_50 = dataset.loc[49] #Arbitraly, we pick the row 50
print(row_50)

Dimension of the array :  (720, 9)
Hero                         Mei
Role                     DEFENSE
Pick_rate                   2.06
Win_rate                    35.8
Tie_Rate                    1.22
On_fire                     8.86
Platform                     XBL
Rank                      Bronze
Date         2019-04-22 18:54:56
Name: 49, dtype: object

In [37]:
# 3. Determine the type of the dataset #

print(dataset.dtypes)

Hero          object
Role          object
Pick_rate    float64
Win_rate     float64
Tie_Rate     float64
On_fire      float64
Platform      object
Rank          object
Date          object
dtype: object

In [38]:
# 4. Display the data for the rows 17, 22 and 19 #

dataset.loc[[17,22,19]]

,Hero,Role,Pick_rate,Win_rate,Tie_Rate,On_fire,Platform,Rank,Date
17,Widowmaker,DEFENSE,2.59,48.79,2.01,9.16,XBL,All,2019-04-22 18:54:56
22,Winston,TANK,1.64,48.11,1.66,5.48,XBL,All,2019-04-22 18:54:56
19,Ashe,OFFENSE,2.17,51.42,2.28,10.01,XBL,All,2019-04-22 18:54:56

In [39]:
# 5. Columns Aggregation #

ad_col = dataset["Win_rate"] + dataset["Pick_rate"]
ad_col.head()

0    59.93
1    58.40
2    56.45
3    58.54
4    57.13
dtype: float64

In [40]:
# 6. Normalize the Win Rate Column #

max_winrate = dataset["Win_rate"].max()
norm_winrate = dataset["Win_rate"] / max_winrate

norm_winrate.head()

0    0.783312
1    0.801383
2    0.783784
3    0.822753
4    0.809082
Name: Win_rate, dtype: float64

In [41]:
# 7. Drop the 2nd and 3rd rows #

dataset.drop(dataset.index[[2,3]])

,Hero,Role,Pick_rate,Win_rate,Tie_Rate,On_fire,Platform,Rank,Date
0,Reinhardt,TANK,10.08,49.85,2.75,7.33,XBL,All,2019-04-22 18:54:56
1,Moira,SUPPORT,7.40,51.00,2.55,9.59,XBL,All,2019-04-22 18:54:56
4,D.Va,TANK,5.64,51.49,2.34,7.84,XBL,All,2019-04-22 18:54:56
5,Baptiste,SUPPORT,5.04,49.11,2.47,11.99,XBL,All,2019-04-22 18:54:56
6,Zarya,TANK,4.44,48.85,2.47,10.05,XBL,All,2019-04-22 18:54:56
7,Orisa,TANK,4.27,55.28,2.60,8.85,XBL,All,2019-04-22 18:54:56
8,Ana,SUPPORT,4.04,47.95,2.35,9.26,XBL,All,2019-04-22 18:54:56
9,Roadhog,TANK,3.89,50.91,1.95,10.07,XBL,All,2019-04-22 18:54:56
10,Hanzo,DEFENSE,3.30,48.70,2.39,13.74,XBL,All,2019-04-22 18:54:56
11,Wrecking Ball,TANK,3.03,50.96,1.97,3.25,XBL,All,2019-04-22 18:54:56
12,Junkrat,DEFENSE,2.92,51.66,3.05,11.79,XBL,All,2019-04-22 18:54:56
13,Genji,OFFENSE,2.88,48.41,2.07,10.10,XBL,All,2019-04-22 18:54:56
14,Reaper,OFFENSE,2.83,51.06,2.12,17.09,XBL,All,2019-04-22 18:54:56
15,Zenyatta,SUPPORT,2.75,52.69,2.37,6.81,XBL,All,2019-04-22 18:54:56
16,McCree,OFFENSE,2.65,47.63,1.93,11.07,XBL,All,2019-04-22 18:54:56
17,Widowmaker,DEFENSE,2.59,48.79,2.01,9.16,XBL,All,2019-04-22 18:54:56
18,Soldier: 76,OFFENSE,2.46,50.16,1.99,11.47,XBL,All,2019-04-22 18:54:56
19,Ashe,OFFENSE,2.17,51.42,2.28,10.01,XBL,All,2019-04-22 18:54:56
20,Brigitte,SUPPORT,1.88,54.84,2.13,11.78,XBL,All,2019-04-22 18:54:56
21,Torbjörn,DEFENSE,1.71,56.12,2.75,9.74,XBL,All,2019-04-22 18:54:56
22,Winston,TANK,1.64,48.11,1.66,5.48,XBL,All,2019-04-22 18:54:56
23,Sombra,OFFENSE,1.64,46.04,2.31,14.32,XBL,All,2019-04-22 18:54:56
24,Symmetra,SUPPORT,1.61,57.40,3.06,10.08,XBL,All,2019-04-22 18:54:56
25,Tracer,OFFENSE,1.48,47.48,1.74,8.54,XBL,All,2019-04-22 18:54:56
26,Mei,DEFENSE,1.48,51.97,2.49,10.75,XBL,All,2019-04-22 18:54:56
27,Doomfist,OFFENSE,1.32,50.90,1.54,8.40,XBL,All,2019-04-22 18:54:56
28,Pharah,OFFENSE,1.17,48.61,2.30,10.65,XBL,All,2019-04-22 18:54:56
29,Bastion,DEFENSE,0.94,50.64,3.26,15.74,XBL,All,2019-04-22 18:54:56
30,Moira,SUPPORT,13.56,44.36,1.30,7.02,XBL,Bronze,2019-04-22 18:54:56
31,Mercy,SUPPORT,9.13,42.54,2.20,1.08,XBL,Bronze,2019-04-22 18:54:56
...,...,...,...,...,...,...,...,...,...
690,Mercy,SUPPORT,10.38,58.87,1.33,2.44,PSN,Grandmaster,2019-04-22 18:44:23
691,Orisa,TANK,9.90,59.62,1.60,12.58,PSN,Grandmaster,2019-04-22 18:44:23
692,Roadhog,TANK,7.93,58.36,1.74,12.65,PSN,Grandmaster,2019-04-22 18:44:23
693,Hanzo,DEFENSE,6.74,52.71,2.15,16.92,PSN,Grandmaster,2019-04-22 18:44:23
694,Soldier: 76,OFFENSE,5.52,57.34,1.50,14.71,PSN,Grandmaster,2019-04-22 18:44:23
695,Lúcio,SUPPORT,5.34,56.23,2.84,13.66,PSN,Grandmaster,2019-04-22 18:44:23
696,Pharah,OFFENSE,4.60,57.10,2.99,16.54,PSN,Grandmaster,2019-04-22 18:44:23
697,Baptiste,SUPPORT,4.17,58.04,2.31,14.94,PSN,Grandmaster,2019-04-22 18:44:23
698,Widowmaker,DEFENSE,4.15,52.36,1.49,12.53,PSN,Grandmaster,2019-04-22 18:44:23
699,McCree,OFFENSE,3.99,51.85,1.90,12.79,PSN,Grandmaster,2019-04-22 18:44:23
700,Sombra,OFFENSE,3.75,57.38,1.83,16.84,PSN,Grandmaster,2019-04-22 18:44:23
701,Reinhardt,TANK,3.38,58.51,1.83,9.50,PSN,Grandmaster,2019-04-22 18:44:23
702,Ashe,OFFENSE,3.25,60.95,2.33,14.55,PSN,Grandmaster,2019-04-22 18:44:23
703,Tracer,OFFENSE,3.04,54.23,1.13,11.33,PSN,Grandmaster,2019-04-22 18:44:23
704,Wrecking Ball,TANK,2.49,59.14,3.05,5.47,PSN,Grandmaster,2019-04-22 18:44:23
705,Bastion,DEFENSE,2.09,57.77,2.31,18.08,PSN,Grandmaster,2019-04-22 18:44:23
706,Zarya,TANK,2.08,53.06,2.65,14.98,PSN,Grandmaster,2019-04-22 18:44:23
707,Genji,OFFENSE,1.88,60.97,1.47,12.57,PSN,Grandmaster,2019-04-22 18:44:23
708,Torbjörn,DEFENSE,1.81,52.31,1.14,8.72,PSN,Grandmaster,2019-04-22 18:44:23
709,Symmetra,SUPPORT,1.71,57.26,0.40,8.12,PSN,Grandmaster,2019-04-22 18:44:23
710,Ana,SUPPORT,1.69,56.85,2.03,9.80,PSN,Grandmaster,2019-04-22 18:44:23
711,D.Va,TANK,1.69,51.44,0.82,9.55,PSN,Grandmaster,2019-04-22 18:44:23
712,Junkrat,DEFENSE,1.60,55.65,1.29,12.40,PSN,Grandmaster,2019-04-22 18:44:23
713,Zenyatta,SUPPORT,1.51,54.84,1.36,6.61,PSN,Grandmaster,2019-04-22 18:44:23
714,Doomfist,OFFENSE,1.43,56.59,0.97,8.91,PSN,Grandmaster,2019-04-22 18:44:23
715,Winston,TANK,1.03,53.42,2.67,9.26,PSN,Grandmaster,2019-04-22 18:44:23
716,Mei,DEFENSE,0.87,56.00,1.57,10.73,PSN,Grandmaster,2019-04-22 18:44:23
717,Reaper,OFFENSE,0.72,51.96,1.92,16.01,PSN,Grandmaster,2019-04-22 18:44:23
718,Moira,SUPPORT,0.71,46.08,0.97,12.29,PSN,Grandmaster,2019-04-22 18:44:23
719,Brigitte,SUPPORT,0.53,63.16,1.30,11.10,PSN,Grandmaster,2019-04-22 18:44:23

Now I need to see some core statistics about particular column(win_rate), I am going to use the below snippet for this

In [42]:
# 8. Compute key statistics about the dataset #

dataset['Win_rate'].describe() #Win_Column only
dataset.describe() #For the whole dataset

        Pick_rate    Win_rate    Tie_Rate     On_fire
count  720.000000  720.000000  720.000000  720.000000
mean     3.329861   50.160139    2.116986    9.573486
std      2.244164    5.226558    0.605430    3.458146
min      0.420000   13.330000    0.000000    1.080000
25%      1.707500   47.622500    1.820000    7.420000
50%      2.745000   50.565000    2.110000    9.680000
75%      4.152500   53.492500    2.450000   11.620000
max     13.560000   63.640000    5.080000   20.910000

In [53]:
# 9. Drop the Tie_Rate Column #

dataset = dataset.drop(columns= 'Tie_Rate')
dataset.head()

,Hero,Role,Pick_rate,Win_rate,On_fire,Platform,Rank,Date
0,Reinhardt,TANK,10.08,49.85,7.33,XBL,All,2019-04-22 18:54:56
1,Moira,SUPPORT,7.40,51.00,9.59,XBL,All,2019-04-22 18:54:56
2,Mercy,SUPPORT,6.57,49.88,1.80,XBL,All,2019-04-22 18:54:56
3,Lúcio,SUPPORT,6.18,52.36,13.16,XBL,All,2019-04-22 18:54:56
4,D.Va,TANK,5.64,51.49,7.84,XBL,All,2019-04-22 18:54:56

In [54]:
# 10. Replace the name of the Column On Fire #

dataset = dataset.rename(columns={"On_fire": "fire Rate"})
dataset.head()

,Hero,Role,Pick_rate,Win_rate,fire Rate,Platform,Rank,Date
0,Reinhardt,TANK,10.08,49.85,7.33,XBL,All,2019-04-22 18:54:56
1,Moira,SUPPORT,7.40,51.00,9.59,XBL,All,2019-04-22 18:54:56
2,Mercy,SUPPORT,6.57,49.88,1.80,XBL,All,2019-04-22 18:54:56
3,Lúcio,SUPPORT,6.18,52.36,13.16,XBL,All,2019-04-22 18:54:56
4,D.Va,TANK,5.64,51.49,7.84,XBL,All,2019-04-22 18:54:56

In [56]:
# 11. Sorting Win_rate in ascending order # 

new_dataset = dataset.sort_values("Win_rate", inplace=False, ascending=True)

# 12. Locate the 532th record details and print the 11st rows #

new_dataset.loc[532]
first_eleven_rows = new_dataset.iloc[0:11]
print(first_eleven_rows)


print('The total of row in our new dataset is : ',new_dataset.shape)

              Hero     Role  Pick_rate  Win_rate  fire Rate Platform    Rank  \
57           Genji  OFFENSE       1.13     13.33       5.33      XBL  Bronze
42   Wrecking Ball     TANK       2.72     21.70       2.04      XBL  Bronze
36          Sombra  OFFENSE       3.57     23.40       4.63      XBL  Bronze
46        Doomfist  OFFENSE       2.21     29.07       4.78      XBL  Bronze
51         Roadhog     TANK       1.91     30.67       8.24      XBL  Bronze
55             Ana  SUPPORT       1.53     32.20       7.71      XBL  Bronze
532         Sombra  OFFENSE       1.74     33.33       8.72      PSN  Bronze
56        Torbjörn  DEFENSE       1.51     33.33       5.10      XBL  Bronze
538          Genji  OFFENSE       1.31     34.94       7.22      PSN  Bronze
50      Widowmaker  DEFENSE       1.96     35.06       9.24      XBL  Bronze
521        Junkrat  DEFENSE       3.12     35.35      11.32      PSN  Bronze

                    Date
57   2019-04-22 18:54:56
42   2019-04-22 18:54:56
36   2019-04-22 18:54:56
46   2019-04-22 18:54:56
51   2019-04-22 18:54:56
55   2019-04-22 18:54:56
532  2019-04-22 18:44:23
56   2019-04-22 18:54:56
538  2019-04-22 18:44:23
50   2019-04-22 18:54:56
521  2019-04-22 18:44:23
The total of row in our new dataset is :  (720, 8)

In [ ]:
# 13. Finding pick_rate for 532th data #

new_dataset.loc[532,"Pick_rate"]

In [58]:
# 14. Making iloc columns #

row_index_521_Win_rate = new_dataset.loc[521,"Win_rate"]
row_index_25_Role = new_dataset.loc[25,"Role"]
five_rows_three_columns = new_dataset.iloc[0:5,0:3]

# 15. Compare the similarity between original and new dataset #

new_dataset.loc[25] == print(five_rows_three_columns)

             Hero     Role  Pick_rate
57          Genji  OFFENSE       1.13
42  Wrecking Ball     TANK       2.72
36         Sombra  OFFENSE       3.57
46       Doomfist  OFFENSE       2.21
51        Roadhog     TANK       1.91

Hero         False
Role         False
Pick_rate    False
Win_rate     False
fire Rate    False
Platform     False
Rank         False
Date         False
Name: 25, dtype: bool

In [59]:
# 16. Predicting null values in each column #

def null_count(column):
    column_null = pandas.isnull(column)
    null = column[column_null]
    return len(null)

column_null_count = dataset.apply(null_count)
print(column_null_count)

Hero         0
Role         0
Pick_rate    0
Win_rate     0
fire Rate    0
Platform     0
Rank         0
Date         0
dtype: int64

## To conclude n°1

In this part, we've seen the basics operations feasible with Python applied to our datset.

# 2. Replacing Missing Values

The purpose is to replace the missing values of the dataset by alternative ones. 
Given that our dataset does not include missing values, we've decided to delete cells and create our owns.

In [75]:
# 0. Import librairies & Dataset

import pandas
import numpy as np
df = pandas.read_csv("overbuff.csv", encoding = "latin1")
df.isnull().sum()

# 1. Replace some values by a null ones #

df = df.replace(2.75, np.nan)
df.isnull().sum()

Hero         0
Role         0
Pick_rate    1
Win_rate     0
Tie_Rate     6
On_fire      0
Platform     0
Rank         0
Date         0
dtype: int64

In [79]:
# 2. Replace the missing values by the mean of each class of Hero (Tank, support...)

df_Role = df.Role.unique()


for i in df_Role : 
    print("\n")
    print(i)
    
    cls = df.loc[(df['Role'] == i)]
    print("*****************************")
    
    
    avrg = cls.loc[:,"Pick_rate"].mean()
    print("Pick_rate")
    print(avrg)
      
    df.loc[(df['Role'] == i) & (df["Pick_rate"].isnull()), "Pick_rate"]=avrg
    
    avrg = cls.loc[:,"Tie_Rate"].mean()
    print("Tie_rate")
    print(avrg)
    
    df.loc[(df['Role'] == i) & (df["Tie_Rate"].isnull()), "Tie_Rate"]=avrg
    
    
    avrg = cls.loc[:,"On_fire"].mean()
    print("On_fire")
    print(avrg)
    
    df.loc[(df['Role'] == i) & (df["On_fire"].isnull()), "On_fire"]=avrg

TANK
*****************************
Pick_rate
4.59264705882353
Tie_rate
2.138224852071006
On_fire
7.262941176470587


SUPPORT
*****************************
Pick_rate
4.337830687830686
Tie_rate
2.226825396825396
On_fire
8.871052631578948


DEFENSE
*****************************
Pick_rate
2.2142361111111106
Tie_rate
2.3414285714285703
On_fire
11.365277777777774


OFFENSE
*****************************
Pick_rate
2.200462962962963
Tie_rate
1.8412037037037035
On_fire
10.815324074074072

In [80]:
# 3. Check is there is any remaining missng values #

df.isnull().sum()

Hero         0
Role         0
Pick_rate    0
Win_rate     0
Tie_Rate     0
On_fire      0
Platform     0
Rank         0
Date         0
dtype: int64

## To conclude the n°2

In this part, we've created some missing values in our dataset and then replace them by the mean of their columns in orer to obtain a relevant dataset. This technique can be applies in any table containing missing values.